<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title class="title-center">
                Update Password
            </mat-card-title>
            <br>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form" [formGroup]="customerSignupForm" (ngSubmit)="dataSubmit()">

                <div class="mat-form-field--inline">
                    <mat-form-field>
                        <input matInput placeholder="password" [(ngModel)]="password" type="password" [type]="hide ? 'password':'text'"
                            formControlName="password">
                        <i class="material-icons" matSuffix (click)="hide = !hide">
                            {{hide ? 'visibility' : 'visibility_off'}}
                        </i>
                    </mat-form-field>
                </div>
                <mat-card-actions style="text-align: center;">
                    <button  [disabled]='customerSignupForm.invalid' type="submit" class="btn btn-success">Save</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>