<div class="about-container__text"><h1 class="h1">About Us</h1>
  <div >
  We are an IRDAI authorised insurance Company. We started as a website back in 2021, with an aim to make insurance simple. 
  <br/><br/>
  If you want to buy insurance - you would want to compare features and prices of an insurance policy and buy the best policy that you deserve. Then, you would expect some help if ever you want to make a claim or renew the policy. Right?
  <br/><br/>
  We do all of that – and more!
  </div>
  
  </div>