<mat-card>
    <h1 style="font-weight: bold;">Nominee Detail</h1>
    <mat-list >
        <mat-list-item class="fnt">
            <div mat-line></div>
           <div mat-line>NAME: {{nominee_object.name}}</div>
           <div mat-line>EMAIL: {{nominee_object.email}}</div>
           <div mat-line>Contact: {{nominee_object.contactNo}}</div>
           <div mat-line>Relation: {{nominee_object.relation}}</div>
           <div mat-line>Address: {{nominee_object.address}}</div>
           <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
  </mat-card>